DATABASE_URL="postgresql://user:password@127.0.0.1:5432/presensia?schema=public"
JWT_SECRET="ganti_dengan_string_acak_panjang"
QR_SECRET="ganti_dengan_string_acak_panjang_beda"
NODE_ENV="development"
